

#themecolors .selector, .cursor{
    cursor: pointer;
}

#google-btn{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.avatar-user{
    height: 200px;
    width:  200px;
    margin-bottom: 5px;
    border-radius: 50px;
}